<template>
    <lightning-card title="Your Timeline">
      <lightning-layout multiple-rows="true">
        
        <!-- <lightning-layout-item size="6" padding="around-small">
            <lightning-input type="date" name="startDate" label="Start Date" value={tester} onchange={handleStartDateChange}></lightning-input>
        </lightning-layout-item>
        <lightning-layout-item size="6" padding="around-small">
            <lightning-input type="date" name="endDate" label="End Date" value={displayEnd} onchange={handleEndtDateChange}></lightning-input>
        </lightning-layout-item> -->

          <lightning-layout-item size="12" padding="around-small">
            <div class="slds-scrollable_y">
                <ul class="slds-timeline">
                    <template if:true={activityData}>
                        <template for:each={activityData} for:item="activityDetails">
                                <c-timeline-item key={activityDetails.id} details={activityDetails}></c-timeline-item>
                        </template>
                    </template>
                </ul>
            </div>
          </lightning-layout-item>
      </lightning-layout>

    </lightning-card>
</template>