<template>
    <li>
        <div class={timelineClass}>
          <span class="slds-assistive-text"></span>

          <div class="slds-media">
            <div class="slds-media__figure">
              <!-- Toggle Carrot -->
              <button class="slds-button slds-button_icon" title="Toggle details for Mobile conversation on Monday" aria-controls="call-item-base"
                      aria-expanded={expanded} onclick={handleToggle}>
                <lightning-icon class="slds-button__icon slds-timeline__details-action-icon" icon-name="utility:switch"
                                 alternative-text="Expand" title="Expand" size="x-small"></lightning-icon>
              </button>
              <div class="slds-icon_container slds-icon-standard-log-a-call slds-timeline__icon" title={details.subtype}>
                <lightning-icon icon-name={iconName}></lightning-icon>
              </div>
            </div>

            <div class="slds-media__body">
              <div class="slds-grid slds-grid_align-spread slds-timeline__trigger">
                <div class="slds-grid slds-grid_vertical-align-center slds-truncate_container_75 slds-no-space">
                  <!-- Header -->
                  <h3 class="slds-truncate" title="Mobile conversation on Monday">
                    <c-record-link record-id={details.id} object-api-name={details.objectApiName} display-name={details.subject}></c-record-link>
                  </h3>
                </div>
              </div>

              <!-- Subheader -->
              <p class="slds-var-m-horizontal_xx-small">
                  {details.displayDate}
              </p>

              <!-- Collapsable Section -->
              <article class="slds-box slds-timeline__item_details slds-theme_shade slds-var-m-top_x-small slds-var-m-horizontal_xx-small" id="call-item-base" aria-hidden="true">

                  <lightning-layout>
                    <!-- Col 1 -->
                    <lightning-layout-item size="6">

                      <template if:true={details.priority}>
                        <li class="slds-grid slds-grid_vertical slds-size_1-of-2 slds-var-p-bottom_small">
                          <span class="slds-text-title_bold slds-var-p-bottom_xx-small">Priority</span>
                          <span class="slds-text-body_regular slds-truncate" title={details.priority}>
                            {details.priority}
                          </span>
                        </li>
                      </template>


                      <template if:true={showRelatedTo}>
                        <li class="slds-grid slds-grid_vertical slds-size_1-of-2 slds-var-p-bottom_small">
                          <span class="slds-text-title_bold slds-var-p-bottom_xx-small">Related To</span>
                          <template for:each={details.relatedTo} for:item="eachRelation">
                              <c-record-link key={eachRelation.id} record-id={eachRelation.id} object-api-name={eachRelation.objectApiName} display-name={eachRelation.name}></c-record-link>
                          </template>
                        </li>
                      </template>

                    </lightning-layout-item>

                    <!-- Col 2 -->
                    <lightning-layout-item size="6">

                      <template if:true={details.description}>
                        <li class="slds-grid slds-grid_vertical slds-size_1-of-2 slds-var-p-bottom_small">
                          <span class="slds-text-title_bold slds-var-p-bottom_xx-small">Description</span>
                          <span class="slds-text-body_regular slds-wrap" title={details.description}>
                            {details.description}
                          </span>
                        </li>
                      </template>
                    </lightning-layout-item>
                  </lightning-layout>

              </article>

            </div>
          </div>
        </div>
      </li>
</template>